@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.App.dark-mode {
  background-color: #333;
  color: #fff;
}

.App.light-mode {
  background-color: #fff;
  color: #333;
}

header {
  background-color: #61dafb;
  padding: 10px;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #fff;
}

main {
  margin-top: 20px;
}

.editor-font-size {
  @apply text-base; 
}


.copy-button-transition {
  transition: background-color 0.3s, transform 0.3s;
}
.copy-button-transition:hover {
  transform: scale(1.05);
}

.scrollable-container {
  max-height: 150px;
  overflow-y: auto;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}
